<nav>
  <div class="lef-nav">
    <ul>
      <li>
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <mat-icon>home</mat-icon>
        </a>
      </li>
      <li>
        <a routerLink="posts" routerLinkActive="active" *ngIf="isAuth$ | async">Posts</a>
      </li>
      <li>
        <button (click)="onAddNewPost()" *ngIf="isAuth$ | async">+</button>
      </li>
    </ul>
  </div>

  <div class="logo">
    <div class="logo-image">
      <img alt="Flame logo" src="../../assets/images/icon_above-front.png" />
      <h2>Share and Like</h2>
    </div>
  </div>
  <div class="right-nav">
    <ul>
      <li>
        <a routerLink="signup" routerLinkActive="active" *ngIf="!(isAuth$ | async)">
          Signup
        </a>
      </li>
      <li>
        <a routerLink="login" routerLinkActive="active" *ngIf="!(isAuth$ | async)">
          Login
        </a>
      </li>
      <li>
        <a (click)="onLogout()" *ngIf="isAuth$ | async" style="color: red;"> Logout<mat-icon>power_settings_new
          </mat-icon> </a>
      </li>
    </ul>
  </div>
</nav>