<button mat-raised-button><a routerLink="/posts">Back</a></button>
<div
  class="post-card"
  *ngIf="post$ | async as post"
  [ngClass]="{ liked: buttonText === 'DisLike' }"
>
  <img [src]="post.imgUrl" [alt]="post.title" />
  <h2>{{ post.title | uppercase }}</h2>
  <p class="card-text">{{ post.content }}</p>
  <!-- <p>{{ post.dislike }}</p> -->
  <p class="card-text">
    {{ post.dateCreate | date: "à HH:mm, le d MMMM yyyy" }}
  </p>
  <p class="card-text">
    <span>{{ post.location }}</span>
  </p>
  <button (click)="liked(post._id)">{{ buttonText }}</button>
  <span>{{ post.like }}</span>

  <button
    mat-raised-button
    color="primary"
    (click)="onModify()"
    *ngIf="userId === post.userId"
  >
    MODIFY
  </button>
  <button
    mat-raised-button
    color="warn"
    (click)="onDelete()"
    *ngIf="userId === post.userId"
  >
    DELETE
  </button>
</div>
