<button><a routerLink="/posts">
    <mat-icon>undo</mat-icon>
  </a></button>
<div class="post-card" *ngIf="post$ | async as post">
  <h2>{{ post.title | uppercase }}</h2>
  <img [src]="post.imgUrl" [alt]="post.title" />

  <p class="card-text">{{ post.content }}</p>
  <!-- <p>{{ post.dislike }}</p> -->



  <p *ngIf="post.location">
    <span>{{ post.location }}</span>
  </p>
  <p>{{ post.createdAt | date: "à HH:mm, le d MMMM yyyy" }}</p>

  <!-- -----------like button--------------- -->
  <div class="like-buttons" *ngIf="!likePending">
    <div class="likes">
      <i [ngClass]="{ 'fas liked': liked, far: !liked, disabled: disliked }" class="like fa-thumbs-up fa-lg"
        (click)="onLike()"></i>
      <span>{{ post.likes }}</span>
    </div>
    <div class="dislikes">
      <i [ngClass]="{
          'fas disliked': disliked,
          far: !disliked,
          disabled: liked
        }" class="dislike fa-thumbs-down fa-lg" (click)="onDislike()"></i>
      <span>{{ post.dislikes }}</span>
    </div>
  </div>
  <div class="like-pending" *ngIf="likePending">
    <mat-spinner class="white-spinner"></mat-spinner>
  </div>
  <div class="
  ">
    <p><span>Liked : {{ post.likes }} times</span></p>

  </div>
  <!-- ----------------------pour developper ----------------- -->
  <!-- <div class="post-card">
    commentes: {{post.comments}}
    <app-comment [comments]="post.comments" (newComment)="onNewComment($event)"></app-comment>
  </div> -->
  <button class="btn btn-primary" color="primary" (click)="onModify()" *ngIf="userId === post.userId || isAdmin">
    Modify
  </button>
  <button class="btn btn-primary" color="primary" (click)="onDelete()" *ngIf="userId === post.userId || isAdmin">
    Delete
  </button>

</div>